<div id="maincontent" style="min-height: 100%;">
<ul>
<li>
1. Главный инженер регистрирует новых сотрудников по ссылке: <%= link_to 'Регистрация', new_user_path%><br>
</li>
<li>
2. Пароль для всех новых пользователей по умолчанию: "123456". После первой аутентификации Вы сможете изменить пароль<br>
</li>

<li>
3. Сброс пароля может делать администратор.<br>
</li>
<li>
4. Отпуск можно указать в профиле пользователя(Список сотрудников/Имя сотрудника/Редактирование профиля.).
</li>
</ul>

</div>

